<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MergeCMD.Properties.MgSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MergeCMD.Properties.MgSettings>
            <setting name="RootDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Filename" serializeAs="String">
                <value />
            </setting>
            <setting name="OverwriteOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddToMapWhenFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveToRootDir" serializeAs="String">
                <value>True</value>
            </setting>
        </MergeCMD.Properties.MgSettings>
    </userSettings>
</configuration>